{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>PAPS | Магазин Цифрової техніки</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PAPS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Головна <span class="sr-only">(current)</span></a></li>
                <li><a href="/help">Тех підтримка</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'basket' %}">Корзина ({{ basket }}) </a></li>
                <li><a>{{ request.user.email }}</a></li>
                <li><a href="{% url 'logout' %}" class="btn btn-default navbar-btn">Вихід</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="btn btn-default navbar-btn">Вхід</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-0 col-sm-3 col-lg-2 left_col">
            <div class="panel panel-default" style="height: calc(100% - 20px);">
                <div class="panel-heading">Категорії</div>
                <div class="panel-body">
                    <ul style="list-style-type: none;">
                        {% for category in categories %}
                            {% if category == active_category %}
                                <li style="color:#d9230f">{{ category.name }}</li>
                            {% else %}
                                <li><a style="color: #777777;" href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-lg-10 right-col" style="min-height: 700px">
            {% block content %}


            {% endblock %}
        </div>
    </div>
</div>
<footer style="height: 50px; background-color: #7d7d7d; text-align: center; padding-top: 13px">
    <a style="color: white; font-size: 16px">Звязок з нами</a>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    $(function () {
        $('.left_col').height($('.right-col').height());
    })
</script>
</body>
</html>